@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("animations.css");

html,
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.likes-page {
  padding: 20px;
  background-color: #0378a6;
  min-height: 100vh;
}

.likes-container {
  max-width: 1200px;
  margin: 0 auto;
  background: #eef7ff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.likes-container h1 {
  text-align: center;
  color: #1a2e40;
  margin-bottom: 20px;
  font-size: 2em;
}

.likes-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.likes-table th,
.likes-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.likes-table th {
  background-color: #0378a6;
  color: #ffffff;
  font-weight: bold;
}

.likes-table tr:nth-child(even) {
  background-color:  #eef7ff;
}

.likes-table tr:hover {
  background-color: #04b2d9;
}

.likes-table td {
  color: #333;
  font-size: 0.9em;
}

.likes-table td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.likes-table td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.error-message {
  color: red;
  text-align: center;
  margin: 20px 0;
}
